*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/common/src/main/kotlin/io/nichijou/tujian/common/C.kt
/common/src/main/res/values/gms.xml
/app/src/main/res/layout/list_item_ad.xml
