<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools"
  package="io.nichijou.tujian.common">

  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.SET_WALLPAPER" />

    <uses-permission android:name="android.permission.SET_WALLPAPER" />

    <application
    android:networkSecurityConfig="@xml/network_security_policy"
    tools:targetApi="n">
    <provider
      android:name="androidx.core.content.FileProvider"
      android:authorities="${applicationId}.FileProvider"
      android:exported="false"
      android:grantUriPermissions="true">
      <meta-data
        android:name="android.support.FILE_PROVIDER_PATHS"
        android:resource="@xml/file_paths" />
    </provider>
      <activity
        android:name="io.nichijou.tujian.common.shortcuts.ShortcutsController"
        android:excludeFromRecents="true"
        android:exported="true"
        android:taskAffinity=""
        android:theme="@style/Theme.Transparent" />

      <receiver
        android:name="io.nichijou.tujian.common.appwidget.TujianAppWidgetProvider"
        android:label="@string/tujian">
        <intent-filter>
          <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
          <action android:name="io.nichijou.tujian.appwidget.action.tujian.ACTION_NEXT" />
          <action android:name="io.nichijou.tujian.appwidget.action.tujian.ACTION_SAVE" />
          <action android:name="io.nichijou.tujian.appwidget.action.tujian.ACTION_COPY" />
        </intent-filter>
        <meta-data
          android:name="android.appwidget.provider"
          android:resource="@xml/appwidget_tujian" />
      </receiver>

      <receiver
        android:name="io.nichijou.tujian.common.appwidget.BingAppWidgetProvider"
        android:label="@string/bing">
        <intent-filter>
          <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
          <action android:name="io.nichijou.tujian.appwidget.action.bing.ACTION_NEXT" />
          <action android:name="io.nichijou.tujian.appwidget.action.bing.ACTION_SAVE" />
          <action android:name="io.nichijou.tujian.appwidget.action.bing.ACTION_COPY" />
        </intent-filter>
        <meta-data
          android:name="android.appwidget.provider"
          android:resource="@xml/appwidget_bing" />
      </receiver>
      <receiver
        android:name="io.nichijou.tujian.common.appwidget.HitokotoAppWidgetProvider"
        android:label="@string/hitokoto">
        <intent-filter>
          <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
          <action android:name="io.nichijou.tujian.appwidget.action.hitokoto.ACTION_NEXT" />
        </intent-filter>
        <meta-data
          android:name="android.appwidget.provider"
          android:resource="@xml/appwidget_hitokoto" />
      </receiver>
      <receiver
        android:name="io.nichijou.tujian.common.notification.NotificationController"
        android:label="@string/notification_controller" />

      <service
        android:name="io.nichijou.tujian.common.appwidget.TujianAppWidgetNextTileService"
        android:icon="@drawable/ic_round_navigate_next"
        android:label="@string/next_appwidget"
        android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
        <intent-filter>
          <action android:name="android.service.quicksettings.action.QS_TILE" />
        </intent-filter>
      </service>
      <service
        android:name="io.nichijou.tujian.common.muzei.ArtworkSource"
        android:exported="false">
        <intent-filter>
          <action android:name="com.google.android.apps.muzei.api.MuzeiArtSource" />
        </intent-filter>
        <meta-data
          android:name="replacement"
          android:value="${ArtworkAuthority}.${applicationId}" />
      </service>

      <provider
        android:name="io.nichijou.tujian.common.muzei.ArtworkProvider"
        android:authorities="${ArtworkAuthority}.${applicationId}"
        android:description="@string/tujian_muzei_desc"
        android:exported="true"
        android:label="@string/app_name"
        android:permission="com.google.android.apps.muzei.api.ACCESS_PROVIDER">
        <intent-filter>
          <action android:name="com.google.android.apps.muzei.api.MuzeiArtProvider" />
        </intent-filter>
      </provider>

      <service
        android:name=".wallpaper.WallpaperNextTileService"
        android:icon="@drawable/ic_round_navigate_next"
        android:label="@string/next_wallpaper"
        android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
        <intent-filter>
          <action android:name="android.service.quicksettings.action.QS_TILE" />
        </intent-filter>
      </service>
  </application>
</manifest>
